@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
#navbar {
  position: sticky;
  z-index: 2;
  top: 0;
  width: 98%;
  border: 4px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: right;
  margin: auto;
  background-color: #fffffff5;
}
#navbar > div {
  border: 2px;
  margin: 0px 25px;
}
.heading {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 3px;
  animation: openclose 5s ease-in-out 1;
  background-color: black;
  color: #fff;
  width: 12%;
  padding-left: 10px;
  border-radius: 10px;
  margin-left: 50px;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 230px;
  }
  30% {
    top: 0.2rem;
    width: 230px;
  }

  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 285px;
  }
}

#name {
  letter-spacing: 5px;
  margin-top: -20px;
  margin-bottom: -5px;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
  font-size: 90px;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
#navbar > div > p {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 3px;
}

#home {
  width: 98%;
  /* border: 2px solid red; */
  margin: auto;
}
#home > #content {
  display: flex;
  /* border: 4px solid orange; */
  width: 98%;

  margin: auto;
}

#home > #content > #info {
  /* border: 4px solid teal; */
  width: 40%;
  margin: auto;
}
#pic {
  width: 35%;
  margin: 30px;
  margin-left: 50px;
  margin-right: 0%;
}
#pic > img {
  width: 40%;
}

#tags {
  display: flex;
  /* border: 3px solid orange; */
  width: 50%;
  margin-left: 85px;
  justify-content: space-around;
  align-items: center;
}
#tags > #resume {
  border: 4px solid black;
  padding: 1px 20px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  letter-spacing: 3px;
}

/* #about {
  width: 98%;
} */

#aboutme {
  /* border: 4px solid gold; */
  width: 98%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
#aboutme h4 {
  font-size: 30px;
  letter-spacing: 5px;
}
#aboutme > p {
  font-size: 20px;
  width: 60%;
  margin: auto;
  line-height: 35px;
  letter-spacing: 3px;
}

#febe {
  display: flex;
  width: 98%;
  justify-content: space-evenly;
}
#fb_design {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

#fb_design > div {
  display: block;
  /* border: 2px solid teal; */
  text-align: center;
}

#fb_design > div > p {
  font-weight: 700;
  font-size: 20px;
  margin-top: 1px;
}
